@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=block);
@import url(https://jniac.github.io/some-utils/css/main.css);
@import url(https://jniac.github.io/some-utils/css/layout.css);

body {
  height: 100vh;
  font-family: 'Fira Code', monospace;
}

img.GlText-Atlas {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 50%;
  background-color: red;
}
